{% extends 'base.html' %}
{% block title %}new{% endblock title %}
{% block body %}
<div class="container">
    <h1 class='text-center m-3'>new</h1>
    <hr>
    <form action="{% url 'accountbooks:create' %}" method="post">
        {% csrf_token %}
        <div class="mb-3">
          <label for="note" class="form-label">내용</label>
          <input name="note" type="text" class="form-control" id="note" placeholder="내용">
        </div>
        {% comment %} <div class="mb-3">
          <label for="category" class="form-label">분류</label>
          <input name="category" type="text" class="form-control" id="category" placeholder="분류">
        </div> {% endcomment %}
       
        <div class="mb-3">
            <label for="category" class="form-label">분류</label>
            <select id="category" class="form-select form-control" name="category">
                <option selected disabled>분류를 선택하세요.</option>
                <option>식비</option>
                <option>고정비</option>
                <option>기타</option>
            </select>
        </div>
        
        
        <div class="mb-3">
          <label for="amount" class="form-label">사용금액</label>
          <input type="number" name="amount" id="amount" class="form-control">
        </div>
        <div class="mb-3">
          <label for="date" class="form-label">사용날짜</label>
          <input type="date" name="date" id="date" class="form-control">
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">메모</label>
          <textarea name="description"  id="description" rows="3" class="form-control"></textarea>
        </div>
        <div class="text-end">
            <input class="mx-3 btn btn-outline-primary col-1 offset-10" type="submit">
            <a class="btn btn-outline-info col-1" href="{% url 'accountbooks:index' %}">돌아가기</a>
        </div>
      </form>
</div>
{% endblock body %}

