{% extends 'base.html' %}
{% block title %}create{% endblock title %}
{% block body %}
<div class="container">
  <h1 class = 'text-center m-5'>create</h1>
  <hr>
  <form action="{% url 'todos:create' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input class="btn btn-outline-primary" type="submit" value="제출">
  </form>
  
  <hr>
  <div class="d-flex justify-content-end">
    <a type="button" class="btn btn-outline-info m-3 " href="{% url 'todos:index' %}">목록</a>
  </div>

</div>
{% endblock body %}